.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
#header{
  height: 220px;
  text-align: center;
  background-color: lightyellow;
  font-weight: bolder;

}
#pingpong{
  font-weight: bold;

  font-size: 60px;
  padding-top:4%;
}
#aboutpingpong{
  width: 350px;
  height: 650px;
  background-color: #86e089;
  padding: 47px;
}

.aboutcream{
  color: #efedb6;
}

#greensaber-username-color{
  color: #067296;
}
#mainwrapper{
  padding-left: 70px;
}
#gameOutput{
  list-style: none;
}
